//
//	2021-03-07T12:28:00Z
//

#include "Windows.h"
#include "Resource.hpp"

//
//
//
STRINGTABLE
BEGIN
	IDS_META_NAME	"ZIPHER"
END

//
//
//
IDD_WINDOW DIALOGEX 0, 0, 350, 220
STYLE DS_SETFONT | DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 8, "Segoe UI", 400, 0, 0x0
BEGIN
	LISTBOX		IDC_LISTBOX, 0, 17, 120, 188, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
	CONTROL		"", IDC_TABCONTROL, "SysTabControl32", TCS_FIXEDWIDTH, 121, 17, 229, 189
END

//
//
//
IDD_ENCIPHER DIALOGEX 1, 14, 225, 172
STYLE DS_SETFONT | WS_CHILD
FONT 8, "Segoe UI", 400, 0, 0x0
BEGIN
	EDITTEXT        IDE_DATA, 3, 3, 219, 70, ES_MULTILINE | ES_AUTOVSCROLL | WS_VSCROLL
	COMBOBOX		IDE_TYPE, 13, 83, 70, 30, CBS_DROPDOWN | CBS_SORT | WS_VSCROLL | WS_TABSTOP
	CONTROL			"Use char", IDE_OPTION1, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 13, 102, 70, 12
	CONTROL			"Check2", IDE_OPTION2, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 13, 117, 70, 12
	CONTROL			"Check3", IDE_OPTION3, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 13, 132, 70, 12
	CONTROL			"Set range", IDE_OPTION4, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 141, 102, 70, 12
	LTEXT			"Min", IDC_STATIC, 141, 117, 14, 14, SS_CENTERIMAGE
	EDITTEXT        IDE_MIN, 163, 117, 50, 14, ES_AUTOHSCROLL | WS_DISABLED
	CONTROL         "", IDE_MIN_SPIN, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_DISABLED, 201, 117, 11, 14
	LTEXT			"Max", IDC_STATIC, 141, 132, 14, 14, SS_CENTERIMAGE
	EDITTEXT        IDE_MAX, 163, 132, 50, 14, ES_AUTOHSCROLL | WS_DISABLED
	CONTROL         "", IDE_MAX_SPIN, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_DISABLED, 201, 132, 11, 14
	EDITTEXT		IDE_EDIT, 3, 155, 167, 14, ES_AUTOHSCROLL
	PUSHBUTTON		"Encipher", IDOK, 172, 155, 50, 14
END

//
//
//
IDD_DECIPHER DIALOGEX 1, 14, 225, 172
STYLE DS_SETFONT | WS_CHILD
FONT 8, "Segoe UI", 400, 0, 0x0
BEGIN
	DEFPUSHBUTTON   "Decipher", IDOK, 115, 100, 50, 14
	PUSHBUTTON      "Cancel", IDCANCEL, 167, 100, 50, 14
END

//
//
//
IDD_DETAIL DIALOGEX 0, 0, 171, 162
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "Segoe UI", 400, 0, 0x0
BEGIN
	CTEXT			"", IDX_NAME, 7, 7, 157, 14, SS_CENTERIMAGE | SS_SUNKEN
	EDITTEXT		IDX_EDIT, 7, 22, 157, 54, ES_MULTILINE | ES_AUTOVSCROLL | WS_VSCROLL
	LTEXT			"Min:", IDC_STATIC, 39, 98, 18, 14, SS_CENTERIMAGE
	LTEXT			"Max:", IDC_STATIC, 39, 114, 18, 14, SS_CENTERIMAGE
	CTEXT			"Normal", IDX_TYPE, 39, 78, 92, 14, SS_CENTERIMAGE | SS_SUNKEN
	CTEXT			"0x000", IDX_MIN, 79, 98, 52, 14, SS_CENTERIMAGE | SS_SUNKEN
	CTEXT			"0x000", IDX_MAX, 79, 114, 52, 14, SS_CENTERIMAGE | SS_SUNKEN
	PUSHBUTTON		"OK", IDOK, 60, 141, 50, 14
END
