//
//  2021-02-19T21:47:00Z
//

#include "Resource.hpp"
#include "Windows.h"

IDD_DIALOG DIALOGEX 0, 17, 307, 176
STYLE DS_SETFONT | WS_CHILD
FONT 8, "Tahoma", 400, 0, 0x0
BEGIN
    LISTBOX         IDC_LISTBOX,0,0,75,176,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    EDITTEXT        IDC_EDITOR,80,0,222,100,ES_MULTILINE | ES_AUTOVSCROLL | WS_VSCROLL
    COMBOBOX        IDC_TYPE,80,105,80,30,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Encipher",IDC_ENCIPHER,"Button",BS_AUTORADIOBUTTON,80,145,38,10
    CONTROL         "Decipher",IDC_DECIPHER,"Button",BS_AUTORADIOBUTTON,80,135,38,10
    EDITTEXT        IDC_TEXTBOX,80,159,166,14,ES_AUTOHSCROLL
    PUSHBUTTON      "Go",IDOK,250,159,50,14
END

IDD_DETAIL DIALOGEX 0, 0, 230, 120
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Detail"
FONT 8, "Tahoma", 400, 0, 0x0
BEGIN
    PUSHBUTTON      "OK",IDC_DETAIL_BUTTON,170,99,50,14
    EDITTEXT        IDC_DETAIL_EDITBOX,7,20,213,75,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY
    LTEXT           "Name",IDC_DETAIL_NAME,7,7,19,8
END
